<p id="disclaimer">
  <h1>Disclaimer:</h1>
  The application is not in any way affiliated with Zoopla, Rightmove, MapIt and the British Police.
  To protect privacy, house the exact house locations are not provided.
  <h1>Addidional disclaimer from the British Police:</h1>
  ** If you're searching for houses in Scotland, remember that since only the British Transport Police provide data for Scotland, crime levels may appear much lower than they really are. **
  </br>
  ** The street-level crimes returned in the API are only an approximation of where the actual crimes occurred, they are not the exact locations. Visit the page below for more information.**
  <h1><a href="https://data.police.uk/about">More information about the data and its provenience</a></h1>
</p>
