<form id="url-form">
  Insert a URL from Zoopla or Rightmove:<br>
  <input name="url"/><br>
</form>

<button type="submit" form="url-form" value="url">Submit</button>

<form id="postcode-form">
  Or a postcode:</br>
  <input name="postcode"/><br>
</form>

<button type="submit" form="postcode-form" value="url">Submit</button>

<%= erb :_disclaimer %>
